html, body {
overflow-x: hidden;
}

body {
font-family: $sans-serif;
font-size: 100%;
line-height: 1.5;
}


/* pretty sure everything is already sans-serif...
p, ul, ol, dd {
	font-family: arial, helvetica, sans-serif;
}
*/
