html, body {
overflow-x: hidden;
}

body {
font-family: $sans-serif;
font-size: 100%;
line-height: 1.5;
background: url(images/background-full.jpg) no-repeat center center scroll;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	-webkit-transition: color .3s ease, background .3s ease;
	   -moz-transition: color .3s ease, background .3s ease;
	     -o-transition: color .3s ease, background .3s ease;
	        transition: color .3s ease, background .3s ease;

	color: $link-color;
	text-decoration: none;

	/* on hover */
	&:active,
	&:hover,
	&:focus {
	text-decoration: none;
	color: $link-hover;

		.thumbnail {
		opacity: 1;
		}
	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}



/*********************
H1, H2, H3, H4 STYLES
**********************/

h1, .h1 {
font-family: $sans-serif;
font-size:40px;
font-weight: 300;
padding: 0 0 0.5em;
text-transform: uppercase;
color: $header-color;
}

h2, .h2 {
font-family: $sans-serif;
font-size: 34px;
padding: 0 0 0.5em;
font-weight: 300;
color: $header-color;
}

h3, .h3 {
font-family: $sans-serif;
font-size: 24px;
padding: 0 0 0.5em;
font-weight: 400;
}

h4, .h4 {
font-family: $sans-serif;
font-weight: 700;
font-style: italic;
font-size:20px;
padding: 0 0 0.5em;
color: $header-color;
}

/* basically just the body text size in 700 weight with bottom padding */
h5, .h5 {
font-family: $sans-serif;
font-weight: 700;
font-size:16px;
padding: 0 0 0.5em;
}

h6, .h6 {
@extend .h5;
font-size: 12px;
}

.entry-content {

}

#page-header {
margin-top: 1.5rem;
padding: 0 1em;

	h1.page-title {
	@extend .h1;
	color: $teal;
	font-weight: 300;
	line-height: 70px;
	display: inline-block;
	padding: 0;
	margin: 0;
	}
}


h2.entry-title {
color: $blue;
}

h3.section-header {
font-family: $sans-serif;
font-size: 20px;
text-transform: uppercase;
margin: 0.5em;
padding: 0;
}


/*********************
HEADER STYLES
*********************/

#header {
background: #FFFFFF;

/* Full width browser bar hack from CSS Tricks (snippet comment by <timd.mackey>)
http://css-tricks.com/full-browser-width-bars/#comment-94090 
Note that body element must have the attribute overflow-x: hidden; */
margin: 0 -2000px;
padding: 0 2000px;
border-bottom: 1px solid $gray88;

	#branding {
	padding: 15px 0 0;
	width: auto;
	float: left;

		#blog-title {
		height:72px;

			a {
			text-indent: -9999em;
			background: url('images/logo.png') no-repeat;
			width: 254px;
			display: block;
			height:72px;

				&:hover {
					opacity: .7;
				}
			} /* end a */
		} /* end #blog-title */

		#blog-description {
		/*display none or keep the other styles? */
		display: none;
		}
	} /* end #branding */
} /* end #header */


/*********************
NAVIGATION STYLES
*********************/

#access {
font-size: 20px; /*16px alt, 500 14px orginial 06/08/2011 Pwinnick */
font-weight: 500;
border-bottom: none;
height: auto;
padding: 20px 0 0;
width: auto;
float: right;
color: black;

	.menu {
	width: auto;
	z-index: 2200;
	position: relative;
	float: right;

		/* Superfish dropdown menus */
		.sf-menu {
		border-right:none;

			li,
			li li,
			li:hover,
			li.sfHover,
			a:focus,
			a:hover,
			a:active {
			background: transparent;
			z-index: 2400;
			}

			li {


				a {
				text-transform: lowercase;
				font-weight: 700;
				font-size: 20px;
				border: none;
				border-right: none;
				color: black;
				padding: 0 10px 15px;
				-webkit-transition-duration: .2s;
				-moz-transition-duration: .2s;
				-o-transition-duration: .2s;
				transition-duration: .2s;

					&:hover {
					color: $tu-cherry;
					}

					&:first-child {
						border-left: none;
					}
				} /* end .sf-menu li a */

				/* "watch live" */
				&#menu-item-30554 {
					a {
					color: $tu-cherry;

						&:hover {
						color: black;
						}
					}
				} /* end "watch live" item */

				&:hover {
					a {
						&:hover {

						}
					}
				}

				&.sfHover {
					a {
						&:hover {

						}
					}
				}
			} /* end .sf-menu li */

			/* top level menu items */
			> li {
				


			} /* end > li */

			.sub-menu {
			background: $teal;
			top: 36px;
			display: none;
			visibility: hidden;
			width: 15em !important; // as far as i know, this is the only way to keep equal heights - fighting with superfish <montchr>
			overflow: visible !important; // as far as i know, this is the only way to get carets - fighting with superfish <montchr>

				li {
					a {
					font-size: 12px;
					font-weight: normal;
					text-transform: uppercase;
					padding: 7px 10px;
					background: $teal;

						&:hover {
						color: #fff;
						background: #000;
						}
					}
				} /* end li */

				/* Forms the caret above the dropdown
				http://stackoverflow.com/questions/11633463/adding-the-arrow-to-dropdown-pills-for-twitter-bootstrap
				<montchr> */
				&:after {
				position: absolute;
				top: -10px;
				left: 30px;
				display: inline-block;
				border-right: 9px solid transparent;
				border-bottom: 10px solid #00b3a0;
				border-left: 9px solid transparent;
				content: '';
				z-index: 99999;
				}
			} /* end .sub-menu */
		} /* end .sf-menu */
	} /* end .menu */
} /* end #access */

.categories-menu .sf-menu a {border-left: none;} /* not sure what the .categories-menu class refers to */


/*********************
POST & CONTENT STYLES
**********************/

#main {
padding-top: 0;
padding-bottom: 0;

	#container {

		#content {
		margin-bottom: 2.2em;

			.entry-content {
			font-family: $sans-serif;

				&:hover {
					.thumbnail {
					opacity: 1;
					}
				}
			}

			.entry-meta {
			font-family: $sans-serif;
			color: #888;
			font-size:14px;
			margin: 2px 0 4px;

				.meta-prep-author,
				.author,
				.meta-sep-entry-date,
				.meta-prep-entry-date,
				.entry-date {display: none;}

				abbr {
				font-size: 12px;
				}
			}

			.entry-utility {
			display: none;
			}

			h2.entry-title {
			font-family: $sans-serif;
			font-weight: 600;
			font-size: 22px;
			padding-bottom: 4px;
			}

			h1 span, .page-title span {
			font-style: normal;
			}

			.thumbnail {
			background: #d7d7d7 url(images/thumbnail-placeholder.png);
			height: 100px;
			width: 140px;
			opacity: .85;
			-webkit-transition: opacity .3s ease;
			-moz-transition: opacity .3s ease;
			-o-transition: opacity .3s ease;
			transition: opacity .3s ease;

				&:hover {
				opacity: 1;
				}
			}

			a:hover {
				.thumbnail {
				opacity: 1;
				}
			}

			.item-even {
			background: $row-even;
			}

			.item-odd {
			background: $row-odd;
			}

		} /* end #content */
	} /* end #container */
} /* end #main */

.block {
background-color: white;
border: 1px solid $border-color;
margin-bottom: 1.5rem;

	.block-header {
	@extend .clearfix;
	background-color: $blue;
	color: white;

		a {
		color: white;
		text-decoration: none;

			&:hover {
			color: white;
			}
		}

		h3.section-header {
		font-size: 20px;
		font-weight: 300;
		float: left;
		display: inline-block;
		color: white;
		}

		p {
		display: inline-block;
		float: right;
		font-weight: 300;
		font-style: italic;
		margin: 0.625em;
		line-height: 30px;


			a {
			text-decoration: none;
			color: white;

				&:hover {
				text-decoration: none;
				color: white;
				}
			}
		}
	}

	.block-inner {
	background-color: white;
	border: 1px solid $border-color;
	}
} /* end .block */










// is this stuff necessary? removing it is preferable to display: none;
.episodes .published, 
.clip .published,
.episodes .meta-sep-edit,
.clip .meta-sep-edit {
display: none;
}

/*****************************
SEARCH FORMS & SOCIAL ICONS
******************************/

	/************************ SEARCH FORMS ************************/

		#searchbox,
		#searchbutton {
		font: 14px $sans-serif;
		}

		#searchbox {
		float: right;
		}

		#searchbutton {
		margin-right: 10px;
		}

		/* HEADER SEARCH */
		div#header-search {
			float: right;
			margin-top: 15px;
		} /* end #header-search */

		/* FOOTER SEARCH */
		div#footer-search {
			float: right;
		} /* end #footer-search */

	/************************ SOCIAL MEDIA ************************/

		ul.social-media-icons {
		list-style: none;
		margin: 0;

			li.social-media-icon,
			li.social-media-icon a,
			li.social-media-icon a img {
			display: inline-block;
			}
		} /* end .social-media-icons */



/*****************************
SIDEBARS & ASIDES & WIDGETS
******************************/

.sidebar {
margin-top: 1.5rem;
}

	.connect-block {
	padding: 2em;

		.social-connection {
		height: 36px;
		margin: 0.5em 0;

			.social-media-icon {
			display: inline-block;
			float: left;
			width: 36px;
			}

			a.social-connection-link {
			line-height: 36px;
			display: inline-block;
			font-size: 14px;
			padding-left: 0.5em;
			}
		}
	}

	.widgettitle {display: none;}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				ul {}

			}

		}

	}


/*******************
FOOTER STYLES 
********************/

#footer {
background: #FFFFFF;

/* Full width browser bar hack from CSS Tricks (snippet comment by <timd.mackey>)
http://css-tricks.com/full-browser-width-bars/#comment-94090 */
margin: 2.2em -2000px 0;
padding: 0 2000px;
border-bottom: 1px solid $gray88;

	#footer-inner {
	padding: 2em 0;
	}

	#footer-social-media {
	float: left;
	}

	// copyright info
	#siteinfo {
	font: 11px $sans-serif;
	padding: 1em 0;
	clear: both;
	}

	.aside {
		ul { list-style-type: none; }
	}

	// Footer sitemap links
	#first {

		a {
			&:active,
			&:link,
			&:visited,
			&:hover {
			color: #5b6d7b;
			text-decoration: none;
			}
		}

		ul {

			li {
			margin: -10px 0px 10px 0px;
				
				ul {
				width: 100%;

					li {
					float: left; display: inline; width: 25%;
					}
				}
			}
		}
	} /* end #first */

	// Social links and search (widgets)
	#third {

		ul {

			li {
			float: right; display: inline;
			
				ul {
				width: 100%;
				
					li {
					float: left; display: inline; width: 33.3%
					}
				}
			}
		}
	} /* end #third */
} /* end #footer */