/* MASTHEAD */

#masthead {
background: url(images/phillyskyline.png) no-repeat center 26%;
height: 175px;

	p {
	background-color: $masthead-text-background;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 1.25em; /* 20px */
	padding: 0 0.125em;
	cursor: default;
	}

	#tutv-network-info,
	#masthead-social-media {
	margin-top: 1.25em;
	}

	#tutv-network-info {
	float: left;

		p {
		display: inline-block;
		float: left;
		clear: both;

			&.cable {
			margin-bottom: .25em;
			}
		

			&.location {
			background-color: transparent;
			margin-top: .75em;
			text-transform: lowercase;
			font-style: italic;
			font-weight: 400;

				em {
				font-style: normal;
				text-transform: uppercase;
				font-weight: 700;
				color: $tu-cherry;
				}
			}
		} /* end p */
	} /* end #tutv-network-info */

	#masthead-social-media {
	float: right;

		p {
		background-color: $masthead-text-background;
		display: inline;
		margin-right: 1em;
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom: .25em;
		font-size: 1.25em; /* 20px */

		position: relative;
		top: -0.5em;
		}

		ul.social-media-icons {
			display: inline;
		}
	} /* end #masthead-social-media */
} /* end #masthead */

/* FEATURED SLIDESHOW */

#front-featured {
height: 290px !important; // what's so important about it?
margin-bottom: 2.2em;

	.flexslider {
	margin-bottom: 0;
	background: transparent;
	border: none;

		.flex-control-nav {
		width: auto;
		position: absolute;
		z-index: 999;
		bottom: 0;
		height: 20px;
		right: 16px;
		}

		.flex-control-paging {
			li {
				a {
				background: #ffffff;
				background: rgba(255,255,255,0.9);

					&:hover {
					background: $gray88;
					background: rgba(255,255,255,0.7);
					}

					&.flex-active {
					background: #333;
					background: rgba(255,255,255,0.3);
					}
				} /* end a */
			} /* end li */
		} /* end .flex-control-paging */

		li {
		height: 290px;
		overflow: hidden;
		}

		.attachment-banner {
		float: right;
		}

		.description {
		position: absolute;
		right: 0.75em;
		padding: 1em;
		background: black;
		background: rgba(0,0,0,.8);
		color: #fff;
		z-index: 3;
		float: right;
		height: 290px;
		width: 360px;

			blockquote {
			margin: 0;
			}

			.more-link {
			//display: block;
			}

			img { display: none; } // this should just be taken out of the template entirely. no need to display: none;
		} /* end .description */

		h2 {
		font-size: 30px;
		font-weight: 300;
		word-wrap: break-word;
		text-transform: uppercase;
		line-height: 1.2;
		padding-bottom: 8px;

			a,
			a:visited {
				color: $light-blue;
			}

		} /* end h2 */

		h3.headline { /* this is not a headline, it's a subheadline. also, it should NOT be an id */
		font-size: 20px;
		word-wrap: break-word;
		line-height: 1.2;
		padding-bottom: 8px;
		}

		p { // this is the excerpt
		font-size: 14px;
		margin-bottom: 1em;
		}

		#subheadline a,
		#subheadline2 a {
			@extend .btn;
			//@extend .btn-small;
			@extend .btn-mini;
			border: none;
			font-weight: 700;

			&:hover {
				color: white;
			}
		}

		#subheadline { /* this is not a subheadline, it's a "read more" or similar button. should NOT be an id. */
		float: left;
		margin-right: 0.5em;

			a {
				@extend .btn-primary;
				color: white;


			}

		} /* end #subheadline */

		#subheadline2 { /* this is not a subhead, this is a "watch more episodes" type link. should NOT be an id. */

			a { @extend .btn-info; }

		} /* end #subheadline2 */

		.wp-caption { display: none; } // take this out of the template!

	} /* end .flexslider */

	
} /* end #front-featured */

.block {
	.block-header {
		h3.section-header {
			line-height: 50px;
			margin: 0 0 0 0.5em;
		}
	}
}

#recent-blog-posts-block {
border: none;

	.block-header {
	background: $blog-button; /* Old browsers */
	background: -moz-linear-gradient(left,  $light-blue 0%, transparentize($light-blue, 0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,$light-blue), color-stop(100%,transparentize($light-blue, 0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  $light-blue 0%,transparentize($light-blue, 0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  $light-blue 0%,transparentize($light-blue, 0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  $light-blue 0%,transparentize($light-blue, 0.5) 100%); /* IE10+ */
	background: linear-gradient(to right,  $light-blue 0%,transparentize($light-blue, 0.5) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{ie_hex_str($light-blue)}', endColorstr='#{ie_hex_str(transparentize($light-blue, 0.5))}',GradientType=1 ); /* IE6-8 */
	}

	.post {
	height: 225px;
	padding: 1.125em;

		&:first-child {
		border-bottom: 1px solid $gray88;
		}

		&:last-child {
		border-top: 1px solid $gray88;
		}

		.thumbnail {
		display: inline-block;
		float: left;
		padding: 0 1.125em 1.125em 0;
		}

		.entry-header {
		display: inline;

			h4 {
			display: inline;
			padding: 0;
			font-style: normal;
			line-height: 1.2;

				a {
				text-decoration: none;
				}
			}
		}

		.entry-content {
		font-size: 14px;

			p {
			display: inline;
			}
		}

		.read-more {
		font-weight: 700;
		font-style: italic;
		display: inline;
		margin-left: 0.5em;

			a {
			color: $teal;
			}
		}
	} /* end .post */
} /* end #recent-blog-posts-block */

#schedule-meta-block-container {

	/* FEATURED BUTTONS SECTION */
	#featured-buttons-section {
	height: 250px;

		.front-featured-button {
		background: $gray93 url(images/snow-layer2.jpg);
		height: 90px;
		text-decoration: none;

			a {
			display: block;

				h3.front-featured-button-title {
				text-transform: uppercase;
				line-height: 90px; /* this vertically centers the h3 */
				text-align: center;
				font-weight: 300;

					em {
					text-transform: lowercase;
					font-weight: 900;
					font-style: italic;
					}

					&#about-tutv-button-title,
					&#submit-a-video-button-title,
					&#read-the-blog-button-title {
						em {
						font-weight: 700;
						}
					}

					&#watch-live-button-title {
					font-size: 36px;
					color: $tu-cherry;
					}

					&#about-tutv-button-title,
					&#submit-a-video-button-title {
					font-size: 24px;
					}

					&#about-tutv-button-title {
					color: $about-button;
					}

					&#submit-a-video-button-title {
					color: $submit-button;
					}

					&#read-the-blog-button-title {
					font-size: 20px;
					color: $blog-button;
					}
				} /* end h3.front-featured-button-title */
			} /* end a */
		} /* end .front-featured-button */

		#watch-live-button {
		margin-bottom: 10px;
		}

		#read-the-blog-button {
		height: 45px;
		margin-top: 10px;
		color: $blog-button;

			h3.front-featured-button-title {
			line-height: 45px; /* this vertically centers the h3 */
			}

			&:hover,
			&:active {
			color: inherit;
			}
		}


	} /* end #featured-buttons-section */
} /* end #schedule-meta-block-container */

/* FEATURED VIDEO SECTION */
.featured-video-section {

	.featured-video {
	height: 220px;
	padding: 1.5em;

		.thumbnail {
			img {
				width: 170px;
			}
		}

		.featured-video-episode-title {
			font-size: 14px;
		}
	} /* END .featured-videos */
} /* END #featured-video-section */
