/* Please don't style these top guys here. */
.home {
	#main {
		#container {
			#content {

				/* MASTHEAD */

				#masthead {
				background: url(images/phillyskyline.png) no-repeat center 26%;
				height: 175px;

					p {
					background-color: $masthead-text-background;
					font-weight: 300;
					text-transform: uppercase;
					font-size: 1.25rem; /* 20px */
					padding: 0 0.125em;
					cursor: default;
					}

					#tutv-network-info,
					#masthead-social-media {
					margin-top: 1.25em;
					}

					#tutv-network-info {
					float: left;

						p {
						display: inline-block;
						float: left;
						clear: both;

							&.cable {
							margin-bottom: .25em;
							}
						

							&.location {
							background-color: transparent;
							margin-top: .75em;
							text-transform: lowercase;
							font-style: italic;
							font-weight: 400;

								em {
								font-style: normal;
								text-transform: uppercase;
								font-weight: 700;
								color: $tu-cherry;
								}
							}
						} /* end p */
					} /* end #tutv-network-info */

					#masthead-social-media {
					float: right;

						p {
						background-color: $masthead-text-background;
						display: inline;
						margin-right: 1em;
						font-weight: 300;
						text-transform: uppercase;
						margin-bottom: .25em;
						font-size: 1.25rem; /* 20px */

						position: relative;
						top: -0.5em;
						}

						ul.social-media-icons {
							display: inline;
						}
					} /* end #masthead-social-media */
				} /* end #masthead */

				/* FEATURED SLIDESHOW */

				#front-featured {
				height: 290px !important; // what's so important about it?
				margin-bottom: 2.2em;

					.flexslider {
					margin-bottom: 0;
					background: transparent;
					border: none;

						.attachment-banner {
						float: right;
						}

						ul {

						}

						li {
						height: 290px;
						overflow: hidden;
						}

						h2 { /* this should really have a class name because it's IMPORTANT. maybe .headline because that's what it is... */
						font-weight: 300;
						word-wrap: break-word;
						} /* end h2 */

						#headline { /* this is not a headline, it's a subheadline. also, it should NOT be an id */
						font-size: 20px;
						font-weight: 200;
						font-family: $sans-serif;
						margin-bottom: 6px;
						word-wrap: break-word;
						color: #d0632d;
						}

						#subheadline { /* this is not a subheadline, it's a "read more" or similar button. should NOT be an id. */
						background-image: url('images/subheadline.png');
						background-repeat: no-repeat;
						height: 25px;
						width: 100%; /*192px*/
						margin-bottom: 8px;
						margin-top: -10px;
						padding-top: 2px;

							a {
							font-size: 13px;
							font-family: $sans-serif;
							font-weight: bold;
							color: #2F3E51;
							padding: 0px 80px 0px 24px;

								&:hover {
								color: #005588;
								}
							}
						} /* end #subheadline */

						#subheadline2 { /* this is not a subhead, this is a "watch more episodes" type link. should NOT be an id. */
						background-image: url('images/watchheadline.png');
						background-repeat: no-repeat;
						height: 25px;
						width: 232px;
						margin-bottom: 8px;
						margin-top: 4px;
						padding-top: 2px;
						border-top-color: #EFEFEF;
						border-top-width: 1px;
						border-top-style: solid;

							a {
							font-size: 12px;
							font-family: arial, helvetica, sans-serif;
							font-weight: 200;
							/*color: #EFEFEF;*/
							padding: 0px 0px 0px 26px;

								&:hover {
								color: #005588;
								}
							}
						} /* end #subheadline2 */

						.wp-caption { display: none; } // take this out of the template!

						.description {
						position: absolute;
						left: 0;
						padding: 10px 10px 0px 10px;
						background: black;
						background: rgba(0,0,0,.8);
						color: #fff;
						z-index: 3;
						float: right;
						height: 290px;
						width: 380px;
						margin-left: 16px; 

							blockquote {
							margin: 0;
							}

							.more-link {
							//display: block;
							}

							img { display: none; } // this should just be taken out of the template entirely. no need to display: none;
						} /* end .description */
					} /* end .flexslider */

					
				} /* end #front-featured */

				#recent-blog-posts-block {
				border: none;

					.block-header {
					background: $blog-button; /* Old browsers */
					background: -moz-linear-gradient(left,  $light-blue 0%, transparentize($light-blue, 0.5) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, right top, color-stop(0%,$light-blue), color-stop(100%,transparentize($light-blue, 0.5))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(left,  $light-blue 0%,transparentize($light-blue, 0.5) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(left,  $light-blue 0%,transparentize($light-blue, 0.5) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(left,  $light-blue 0%,transparentize($light-blue, 0.5) 100%); /* IE10+ */
					background: linear-gradient(to right,  $light-blue 0%,transparentize($light-blue, 0.5) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light-blue', endColorstr='transparentize($light-blue, 0.5)',GradientType=1 ); /* IE6-8 */
					}

					.post {
					height: 225px;
					padding: 1.125em;

						&:first-child {
						border-bottom: 1px solid $gray88;
						}

						&:last-child {
						border-top: 1px solid $gray88;
						}

						.featured-image-container {
						display: inline-block;
						float: left;
						padding: 0 1.125em 1.125em 0;
						}

						.entry-header {
						display: inline;

							h4 {
							display: inline;
							padding: 0;
							font-style: normal;
							line-height: 1.2;

								a {
								text-decoration: none;
								}
							}
						}

						.entry-content {
						font-size: 14px;

							p {
							display: inline;
							}
						}

						.read-more {
						font-weight: 700;
						font-style: italic;
						display: inline;
						margin-left: 0.5em;

							a {
							color: $teal;
							}
						}
					} /* end .post */
				} /* end #recent-blog-posts-block */

				#schedule-meta-block-container {

					#schedule-block {
					background: transparent;
					border: none;
					margin-bottom: 20px;

						.block-header {
						background: $blog-button; /* Old browsers */
						background: -moz-linear-gradient(left,  $teal 0%, transparentize($teal, 0.5) 100%); /* FF3.6+ */
						background: -webkit-gradient(linear, left top, right top, color-stop(0%,$teal), color-stop(100%,transparentize($teal, 0.5))); /* Chrome,Safari4+ */
						background: -webkit-linear-gradient(left,  $teal 0%,transparentize($teal, 0.5) 100%); /* Chrome10+,Safari5.1+ */
						background: -o-linear-gradient(left,  $teal 0%,transparentize($teal, 0.5) 100%); /* Opera 11.10+ */
						background: -ms-linear-gradient(left,  $teal 0%,transparentize($teal, 0.5) 100%); /* IE10+ */
						background: linear-gradient(to right,  $teal 0%,transparentize($teal, 0.5) 100%); /* W3C */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$teal', endColorstr='transparentize($teal, 0.5)',GradientType=1 ); /* IE6-8 */
						}

						/* The Schedule Accordion */

						$accordionContentHeight: 200px;

						.block-inner.accordion {
						font-family: $sans-serif;
						height: 415px;
						border: none;
						background: transparent;

							.schedule-item {
							padding: 0;
							border-left: 1px solid $border-color;
							border-right: 1px solid $border-color;
							border-bottom: 1px solid $border-color;

							@include rowColors();

								.entry-info {
								padding: 0.5em;
								}

									.scheduled-time {
									display: inline;
									color: black;
									font-size: 16px;
									}

									.entry-title {
									display: inline;
									font-size: 16px;
									border-bottom: none;
									font-weight: 400;
									font-style: normal;
									font-family: $sans-serif;
									margin-left: 1.5em;

										a {
										color: $link-color;

											&:hover {
											color: $link-hover;
											}
										}

										.show-name {
										font-weight: 700;
										}
									} /* end entry-title */

								.entry-content.accordion-content {
								font-size: 14px;
								height: 0;
								overflow: hidden;
								display: none;
								visibility: hidden;
								background: $highlight;
								padding-top: 1em;
								-webkit-transition: all .5s;
								-moz-transition: all .5s;
								-ms-transition: all .5s;
								-o-transition: all .5s;
								transition: all .5s;

									.thumbnail {
									margin-left: .5em;
									margin-right: .5em;

										img {
										margin-bottom: .5em;
										}
									}
								}
							}

							/* On hover, extend the content height */
							&:hover {
								.schedule-item {

									.entry-content.accordion-content {
									display: block;
									visibility: visible;
									height: $accordionContentHeight;
									height: 0; // this is important!
									overflow: hidden;
									background-color: $highlight;
									//padding: 1em 0.5em 0.5em; // this causes chaos
									padding: 0;
									-webkit-transition: all .5s;
									-moz-transition: all .5s;
									-ms-transition: all .5s;
									-o-transition: all .5s;
									transition: all .5s;
									}
								}
							} /* end .block-inner.accordion:hover */

							/* On active, extend the content height */
							.schedule-item.active {
							background: $highlight; 

								.entry-content.accordion-content {
								display: block;
								visibility: visible;
								height: $accordionContentHeight;
								padding-top: 1em;
								background-color: $highlight;
								}
							}

						} /* end .block-inner.accordion */
					} /* end #schedule-block */

					/* FEATURED BUTTONS SECTION */
					#featured-buttons-section {
					height: 250px;

						a.front-featured-button {
						background: $gray93 url(images/background-layer2.jpg) repeat center center scroll;
						height: 90px;
						display: block;
						text-decoration: none;

								h3.front-featured-button-title {
								text-transform: uppercase;
								line-height: 90px; /* this vertically centers the h3 */
								text-align: center;
								font-weight: 300;

									em {
									text-transform: lowercase;
									font-weight: 900;
									font-style: italic;
									}

									&#about-tutv-button-title,
									&#submit-a-video-button-title,
									&#read-the-blog-button-title {
										em {
										font-weight: 700;
										}
									}

									&#watch-live-button-title {
									font-size: 36px;
									}

									&#about-tutv-button-title,
									&#submit-a-video-button-title {
									font-size: 24px;
									}

									&#read-the-blog-button-title {
									font-size: 20px;
									}
								} /* end h3.front-featured-button-title */
						} /* end a.front-featured-button */

						#watch-live-button {
						margin-bottom: 10px;
						color: $tu-cherry;

							&:hover,
							&:active {
							color: inherit;
							}
						}

						#about-tutv-button {
						color: $about-button;

							&:hover,
							&:active {
							color: inherit;
							}
						}

						#submit-a-video-button {
						color: $submit-button;

							&:hover,
							&:active {
							color: inherit;
							}
						}

						#read-the-blog-button {
						height: 45px;
						margin-top: 10px;
						color: $blog-button;

							h3.front-featured-button-title {
							line-height: 45px; /* this vertically centers the h3 */
							}

							&:hover,
							&:active {
							color: inherit;
							}
						}


					} /* end #featured-buttons-section */
				} /* end #schedule-meta-block-container */

				/* FEATURED VIDEO SECTION */
				.featured-video-section {

					.featured-video {
					height: 220px;
					padding: 1.5em;
					} /* END .featured-videos */
				} /* END #featured-video-section */

			} /* end #content */
			
		} /* end #container */
	} /* end #main */
} /* END .home */
