/* Show, Clips, and Episode Pages (All) */
.has-taxonomy-show {

	#main {

		#content {

			.navigation,
			.hentry {

			}

			#nav-below {
			display: none;
			}

			#page-header {
			padding: 1em 0;

				#show-thumbnail {
				margin-right: 9px; // -1px to compensate for border
				padding-left: 1em;

					img { max-width: 100%; }
				}

				#show-info-container {
				margin-left: 9px; // -1px to compensate for border
				padding-right: 1em;

					#show-header {

						h1#show-name {
						@extend .h2;
						display: inline-block;
						float: left;
						padding: 0;
						color: $teal;
						}

						.show-menu-container {
						display: inline-block;
						float: left;
						margin-left: 2em;
						line-height: 50px;

							ul.show-menu {
							list-style: none;
							margin: 0;

								li {
								display: inline;
								float: left;
								font-style: italic;
								font-weight: 400;
								padding-left: 1em;
								}
							}
						} /* end .show-menu-container */
					} /* end #show-header */

					#show-description {

					}
				} /* end #show-info-container */
			} /* end #page-header */

			h3.section-header {
			border-bottom: 1px solid #eee;
			color: $tu-cherry;
			}

			/* i'm pretty certain we've abandoned this stuff,
			but just in case, here it is. either way, it's
			only visible to logged-in users with at least
			the editor capability. - montchr */
			.post-metadata {
			background: #ffe;
			padding: 10px;
			clear:both;
			margin: 0 0 10px;

				.section-header {
				border-bottom: 1px dotted #999;
				}

				.post-meta-key {
				font-weight: 600;
				}
			} /* end .post-metadata */
		} /* end #content */
	} /* end #main */
} /* end .has-taxonomy-show (show and episodes pages) */

	/*

	========================
	==SHOW PAGE
	========================

	*/

	#content.single-show-page {

		.meta-prep-entry-date {
		display: none;
		}

		.hentry {
		padding: 1em;

			.entry-header {
			float: right;
			width: 110px;

				h3.entry-title {
				@extend .h5;
				line-height: 1.2;

					a {
					color: $link-color;
					}
				}

				.entry-meta {

				}
			} /* end .entry-header */

			.entry-image {
			float: left;
			width: 140px;
			margin: 0 1em 1em 0;

				.thumbnail {
				margin: 0;

					img { max-width: 100%; }
				}
			} /* end .entry-image */

			.entry-content {
			clear: both;
			padding: 0;
			font-size: 14px;

				p {

				}
			}
		} /* end .hentry */

		#show-episodes {

			.hentry {
			height: 320px;
			}
			
		} /* end #show-episodes */

		#show-clips {

			.entry-header { float: none; }

			.entry-meta { display: none; }

			h3.entry-title {

			}

			.entry-image {
			margin: 0 auto;
			width: 180px;
			margin: 0 1em 1em 0;

				.thumbnail {
				margin: 0;

					img { max-width: 100%; }
				}
			} /* end .entry-image */

		} /* end #show-clips */

		.shows_nav {
		float: left;
		width: 100%;
		padding: 10px 0;
		
			.nav-next {
			float:left;
			width: 50%;
			text-align: left;
			}

			.nav-previous {
			float: right;
			width: 50%;
			text-align: right;
			}
		}
	} /* end #content */




	/*

	========================
	==EPISODE & OTHER PAGES
	========================

	*/

	.has-taxonomy-show.singular {

		#content {

			.hentry {
			margin: 0 20px 0 10px;
			float: left;
			width: 600px;

				.entry-title {
				padding-bottom: 0;
				font-weight: bold;
				font-size: 28px;
				line-height: 38px;
				}
			}

			// move this below the .hentry for semantics
			.video-sidebar {
			float: right;
			width: 320px;
			margin-left: -10px;
			margin-top: 64px;
			background: #f3f3f3;

			.video-block .clip-item {
				
				}

				.video-block .video-title {

				}

				.video-block 

				.video-block {
				padding-top: 10px;
				padding-left: 10px;
				padding-right: 10px;
				margin-bottom: 10px;
				float: left;

					h3.section-header {
					padding-bottom: 5px;
					margin-bottom: 5px;
					border-bottom: 1px dotted #999;
					color: #555;
					-moz-text-shadow: -1px 1px #fff;
					text-shadow: -1px 1px #fff;
					}

					.clip-item {
					clear: both;
					float: left;
					margin: 5px 0px;
					}

					.video-title {
					clear: both;
					float: right;
					width: 140px;
					font-family: arial, helvetica, sans-serif;
					font-weight: 400;
					font-size: 14px;
					margin-bottom: 10px;
					}

					.thumbnail {
					float: left;
					margin-right: 10px;
					margin-bottom: 10px;
					}
				}
			} /* end .video-sidebar */
		} /* end #content */
	} /* end .has-taxonomy-show.singular (episode & other pages) */
