/* Show, Clips, and Episode Pages (All) */
.has-taxonomy-show {

	#main {

		#content {

			.navigation,
			.hentry {

			}

			#nav-below {
			display: none;
			}

			#page-header {
			padding: 1em 0;

				#show-thumbnail {
				margin-right: 9px; // -1px to compensate for border
				padding-left: 1em;

					img { max-width: 100%; }
				}

				#show-info-container {
				margin-left: 9px; // -1px to compensate for border
				padding-right: 1em;

					#show-header {

						h1#show-name {
						@extend .h2;
						}
						
					} /* end #show-header */

					#show-description {

					}
				} /* end #show-info-container */
			} /* end #page-header */

			h3.section-header {
			color: $tu-cherry;
			}

			a.read_more {
			color: $light-blue;
			}

			/* i'm pretty certain we've abandoned this stuff,
			but just in case, here it is. either way, it's
			only visible to logged-in users with at least
			the editor capability. - montchr */
			.post-metadata {
			background: #ffe;
			padding: 10px;
			clear:both;
			margin: 0 0 10px;

				.section-header {
				border-bottom: 1px dotted #999;
				}

				.post-meta-key {
				font-weight: 600;
				}
			} /* end .post-metadata */
		} /* end #content */
	} /* end #main */
} /* end .has-taxonomy-show (show and episodes pages) */

	/*

	========================
	==SHOW PAGE
	========================

	*/

	#content.single-show-page {

		.meta-prep-entry-date {
		display: none;
		}

		.hentry {
			padding: 1em;

			.entry-header {
			float: right;
			width: 110px;

				h3.entry-title {
				@extend .h5;
				line-height: 1.2;

					a {
					color: $link-color;
					}
				}

				.entry-meta {

				}
			} /* end .entry-header */

			.entry-image {
			float: left;
			width: 140px;
			margin: 0 1em 1em 0;

				.thumbnail {
				margin: 0;

					img { max-width: 100%; }
				}
			} /* end .entry-image */

			.entry-content {
			clear: both;
			padding: 0;
			font-size: 14px;

				p {

				}
			}
		} /* end .hentry */

		#show-episodes {

			.hentry {
			height: 320px;
			}
			
		} /* end #show-episodes */

		#show-clips {

			.hentry {
				height: 220px;
				padding: 1.5em;
			}

			.entry-header {
				float: none;
				width: 100%;
			}

			.entry-meta { display: none; }

			h3.entry-title {
				font-size: 14px;
			}

			.thumbnail {
			margin: 0;

				img {
					width: 170px;
				}
			}

		} /* end #show-clips */
	} /* end #content */




	/*

	========================
	==EPISODE & OTHER PAGES
	========================

	*/

	.has-taxonomy-show.singular {

		#content {

			.hentry {

			}

			.sidebar {
				
			}

			// this will only work with each video item 2-columns wide
			.video-sidebar {

				h3.section-header {
				font-size: 16px;
				}

				.upcoming-showtimes {

					ul {
					@extend div;
					@extend .block;
					list-style: none;
					padding: 1em;

						.scheduled-date {
						font-weight: 700;
						}

						.scheduled-time {
						float: right;
						}
					}
				} /* end .upcoming-showtimes */

				.video-section {

					.video-item {
					width: 140px;

						&:nth-child(odd) {
						//@extend .omega;
						}

						&:nth-child(even) {
						//@extend .alpha;
						}
					}

					a {
					}

					.thumbnail {
					float: none;
					}
				}
			} /* end .video-sidebar */
		} /* end #content */
	} /* end .has-taxonomy-show.singular (episode & other pages) */
