/*
the body class targets the shows page, which uses the grid layout set in the page edit screen. consider changing selector to .slug-shows since no other layout will be used.

the .shows-page-grid class can be safely changed to .shows-page, despite .shows-page being used in the old stylesheet. .shows-page doesn't appear anywhere in this template, and from looking at the code it seems pretty clear that it's not useful.

*/
.page-template-page-shows-grid-php {

	#content.shows-page-grid {

		#filtering-nav-container {

			#production-type-filters {
			margin-right: 9px; /* to compensate for the 1px border */
			}

			#genre-filters {
			margin-left: 9px; /* to compensate for the 1px border */

			} /* end #genre-filters */

			.filtering-nav {
			padding: 1em;
			}

			h2 {
			@extend .h5;
			color: $info-color;
			}

			ul {
			list-style: none;
			margin: 0;

				li {
				list-style: none;
				display: inline-block;
				margin: 0.25em;

					a {
					text-decoration: none;
					//color: $info-color;

						/* override button styles for all genre buttons */
						&.btn-genre,
						&.btn.all,
						&.btn-production-type {
						@include border-radius(2px);
						}

						&.btn.all {
						color: $white;
						}

						&.btn-genre {
						color: $info-color;
						}

						&.btn-production-type {
						color: $info-color;
						}

						/* genre box colors */
						&.btn-genre-cooking        { @include buttonBackground( $genreCooking, $genreCookingHighlight, $black ); }
						&.btn-genre-documentary    { @include buttonBackground( $genreDocumentary, $genreDocumentaryHighlight, $black ); }
						&.btn-genre-educational    { @include buttonBackground( $genreEducational, $genreEducationalHighlight, $black ); }
						&.btn-genre-entertainment  { @include buttonBackground( $genreEntertainment, $genreEntertainmentHighlight, $black ); }
						&.btn-genre-fitness        { @include buttonBackground( $genreFitness, $genreFitnessHighlight, $black ); }
						&.btn-genre-gardening      { @include buttonBackground( $genreGardening, $genreGardeningHighlight, $black, 0 -1px 0 rgba(255,255,255,.25) ); }
						&.btn-genre-interviews     { @include buttonBackground( $genreInterviews, $genreInterviewsHighlight, $black ); }
						&.btn-genre-music          { @include buttonBackground( $genreMusic, $genreMusicHighlight, $black ); }
						&.btn-genre-news           { @include buttonBackground( $genreNews, $genreNewsHighlight, $black ); }
						&.btn-genre-specials       { @include buttonBackground( $genreSpecials, $genreSpecialsHighlight, $black ); }
						&.btn-genre-sports         { @include buttonBackground( $genreSports, $genreSportsHighlight, $black ); }

						&:hover {
							//-webkit-box-shadow:  2px 2px 3px 0px rgba(0, 0, 0, .25);
							//box-shadow:  2px 2px 3px 0px rgba(0, 0, 0, .25);
							}


						// this is meant to give a visual emphasis on the currently active filter, but it's not used. also, dotted border is so 2002.
						&.active {
						// border: 1px dotted #ccc;
						}
					} /* end a */
				} /* end li */
			} /* end ul */
		} /* end #filtering-nav-container */

		.hentry.shows-page-item {
		padding: 1em; 
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 0.5em;

			.entry-header {
				h2.entry-title {

					a {
					color: $link-color;

						&:visited {
						color: $link-color;
						}

						&:hover,
						&:active {
						color: $link-hover;
						}
					}
				} /* end .entry-title */
			} /* end .entry-header */

			.entry-content {

				.thumbnail {
				width: 140px;
				margin-right: 1em;
				}

				.description {
				width: 270px;
				float: right;

					p {

					}
				}
			} /* end .shows-page-show */
		} /* end .hentry.shows-page-item */
	} /* end .shows-page-grid */
} /* end .page.slug-shows */


/**** Isotope filtering ****/

.isotope-item {
	z-index: 2;
}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}