/*************
** THEMATIC **
**************/

@import "thematic/thematic";

/***********
** MIXINS **
************/

@import "mixins";

/*********************
GENERAL STYLES
*********************/

@import "general";

/****************
** GRID SYSTEM **
*****************/

@import "grid";

#wrapper {
	@extend .container_12;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

	/*
	========================
	==HOME PAGE
	========================
	*/

	@import "home";

	/*
	========================
	==SHOWS PAGE
	========================
	*/

	@import "shows-page";

	/*
	========================
	==SCHEDULE PAGE
	========================
	*/

	@import "schedule-page";

	/*********************
	SHOW, CLIP, AND EPISODE PAGES
	**********************/

	@import "shows-episodes-clips";

	/*
	========================
	==FAST FACTS
	========================
	*/

	.slug-fast-facts-on-tutv {
		table.facts {
		margin: 0;
		padding: 0;
		border: none;
		}

		tr.facts {
		margin: 0;
		padding: 0;
		border: none;
		}
	} /* end .slug-fast-facts-on-tutv */




	/*
	========================
	==STAFF PAGE
	========================
	*/

	table.staff {
	padding: 0px;
	margin-bottom: 32px;
	border: 0px solid #ccc;
	font-size: 13.5px;
	font-family: arial, helvetica, sans-serif;
	table-layout: fixed;

		tr {
		border: 0px;
		padding: 0px;
		margin: 0px;

			td {
			vertical-align: top;
			border: 0px;
			padding: 4px 8px 8px 8px;
			margin: 0px;

				&#section {
				margin-bottom: 4px 0px 0px 0px;
				}

				&#title {
				width: 250px;
				}

				&#name {
				width: 160px;
				}

				&#status {
				font-style: italic;
				color: #aaa;
				width: 100px;
				}
			} /* end td */
		} /* end tr */
	} /* end table.staff */





	/*
	========================
	==BLOG
	========================
	*/

	.blog {

		.hentry {
		float: left;

			img {
				&.wp-post-image {
				display: block;
				padding-bottom: 22px;
				float: left;
				}
			}
		}
	} /* END .blog */




	/*
	========================
	==SINGLE POST PAGE
	========================
	*/

	.single {

		.show-notes {
			.meta-prep-author,
			.entry-meta .author,
			.entry-meta .author a,
			.entry-meta abbr, 
			.meta-sep-entry-date {
			display: inline;
			font-size: inherit;
			text-transform: none;
			}
		}

		.post {
			.meta-prep-author,
			.entry-meta .author,
			.entry-meta .author a,
			.entry-meta abbr, 
			.meta-sep-entry-date {
			display: inline;
			font-size: inherit;
			text-transform: none;
			}

			.entry-meta {
			display: none;
			}
		} /* end .post */
	} /* END .single */                        /* single post page */




	/*
	========================
	==PAGE
	========================
	*/

	.page {

		#page-list {
		list-style: none;
		margin-left: 0;

			h1 {
			font-size: 18px;
			padding-bottom: 18px;

				a {
				color: #000;
				text-decoration: none;
				}
			}

			.wp-post-image {
			float: left;
			margin-right: 10px;
			}
		} /* end #page-list */

		#subpage-menu {
		margin: -20px 0px 20px;
		width: 940px;
		height: 24px;

			li {
			display:inline;
			list-style: none;
			padding-right: 5px;
			margin-right: 5px;
			float: left;
			}

			a {
			color: #666;
			float: left;
			font-size: 18px;
			line-height: 24px;
			text-shadow: #fff 1px 1px;

				&:hover {
				color: #000;

				}
			}

			// .children is contained within '#subpage-menu li' in the one place i can find it, on the submissions page. not sure if this is the best way to organize this menu. - montchr
			.children {
			float:left;
			margin: 0;
			border-left: 1px solid #666;
			margin-left: 5px;
			padding-left: 5px;

				li {
				border-right: 1px solid #aaa;
				}

				a {
				color: #888;
				}

				.current_page_item {
					> a {
					border-bottom: 1px dotted #888;
					}
				}
			} /* end .children */
		} /* end #subpage-menu */
	} /* end .page */



/*********************
LINK STYLES
*********************/

a, a:visited {
	-webkit-transition: color .3s ease, background .3s ease;
	   -moz-transition: color .3s ease, background .3s ease;
	     -o-transition: color .3s ease, background .3s ease;
	        transition: color .3s ease, background .3s ease;

	// color: $link-color;

	&:active,
	&:visited,
	&:hover {
	//color: $link-color;				/* #5b6d7b Defines color of all links originally #25BADB */
	text-decoration: none;
	}

	/* on hover */
	&:hover, &:focus {
	//color: $link-hover;
	text-decoration: none;

		.thumbnail {
		opacity: 1;
		}
	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}



/*********************
H1, H2, H3, H4 STYLES
**********************/

.entry-content {

	h1, .h1 {
	font-family: $sans-serif;
	font-size:28px;
	font-weight: 500;
	padding:28px 0 14px 0;
	}

	h2, .h2 {
	font-family: $sans-serif;
	font-size: 22px;
	font-weight: 600;
	padding:28px 0 14px 0;
	}

	h3, .h3 {
	font-size:18px;
	font-style:italic;
	padding:14px 0 14px 0;
	}

	h4, .h4 {
	font-family: $sans-serif;
	font-weight: 300;
	text-transform:uppercase;
	letter-spacing:.02em;
	font-size:14px;
	}

	h5, .h5 {}

	h6, .h6 {}
}


/*********************
HEADER STYLES
*********************/

#header,
#main {
/* this stuff is redundent, and it should be handled by the layout scss partial anyway
width: 940px; 
margin: 0 auto;
padding: 0 20px; */
}

#header {

	&:before, &:after {
		content: "";
		position: absolute;
		background: black;
		top: 0;
		bottom: 0;
		left: 100%;
		right: 100%;
		width: 9999px;
		border-bottom: 1px solid $gray93;
	}

	#branding {
	padding: 20px 0;
	width: auto;
	float: left;
	height: 125px;

		#blog-title {
		height:125px;

			a {
			text-indent: -9999em;
			background: url('images/logo.png') no-repeat;
			width: 254px;
			display: block;
			height:72px;

				&:hover {
					opacity: .7;
				}
			} /* end a */
		} /* end #blog-title */

		#blog-description {
		/*display none or keep the other styles? */
		display: none;
		}
	} /* end #branding */

	#access {
	font-size: 20px; /*16px alt, 500 14px orginial 06/08/2011 Pwinnick */
	font-weight: 500;
	border-bottom: none;
	height: 125px;
	padding: 20px 0;
	width: auto;
	float: right;

		a {
		color:#5f0a03; /* #662222 alt, original #221F1F 06/08/2011 Pwinnick */
		text-shadow: 0px 0px 1px #ccc; /* Added 06/08/2011 Pwinnick */ 
		}

		.menu {
		width: auto;
		z-index: 2200;
		position: relative;
		float: right;

			/* Superfish dropdown menus */
			.sf-menu {
			border-right:none;

				li,
				li li,
				li:hover,
				li.sfHover,
				a:focus,
				a:hover,
				a:active {
				background: transparent;
				z-index: 2400;
				}

				li {

					&:hover {

						a {
						background: #f0c2c6;

							&:hover {
								background: #dfb4b8; 
							}
						}
					}

					&.sfHover {

						a {
						background: #f0c2c6;

							&:hover {
								background: #dfb4b8; 
							}
						}
					}
				} /* end .sf-menu li */

				.sub-menu {
					a {
					background: #f0c2c6;
						&:hover {
						color: #fff;
						}
					}

					li {
					font:13px arial, helvetica, sans-serif;
					font-weight: normal;
					margin-bottom: -4px;
					}

					ul {
					background: #f0c2c6; /* Added 07-21-2011 Pwinnick */
					border:none;
					padding-bottom: 8px; /* Added 07-21-2011 Pwinnick */
					margin-top: 6px; /* Added 07-21-2011 Pwinnick */
					}
				} /* end .sub-menu */

				a {
				border: none;
				border-right: none;
				-webkit-transition-duration: .2s;
				-moz-transition-duration: .2s;
				-o-transition-duration: .2s;
				transition-duration: .2s;

					&:hover {
						background: #dfb4b8;
					}

					&:first-child {
						border-left: none;
					}
				} /* end .sf-menu a */
			} /* end .sf-menu */
		} /* end .menu */
	} /* end #access */
} /* end #header */

.categories-menu .sf-menu a {border-left: none;} /* not sure what the .categories-menu class refers to */


/*********************
POST & CONTENT STYLES
**********************/

#main {
padding-top: 0;
position: relative;
z-index: 4;

	#container {
	width: 940px;

		#content  {
		padding:22px 0 0 10px;
		margin:0;
		width: auto;

			.entry-content {
			font-family: $sans-serif;

				&:hover {
					.thumbnail {
					opacity: 1;
					}
				}
			}

			.entry-meta {
			font-family: $sans-serif;
			color: #888;
			font-size:14px;
			margin: 2px 0 4px;

				.meta-prep-author,
				.author,
				.meta-sep-entry-date,
				.meta-prep-entry-date,
				.entry-date {display: none;}

				abbr {
				font-size: 12px;
				}
			}

			.entry-utility {
			display: none;
			}

			h1.entry-title,
			.page-title {
			font-family: $sans-serif;
			font-weight: 400;
			padding-bottom: 22px;
			font-size: 35px;
			line-height: 39px;
			}

			h2.entry-title {
			font-family: $sans-serif;
			font-weight: 600;
			font-size: 22px;
			padding-bottom: 4px;
			}

			h1 span, .page-title span {
			font-style: normal;
			}

			.thumbnail {
			background: #d7d7d7 url(images/thumbnail-placeholder.png);
			height: 100px;
			width: 140px;
			opacity: .85;
			-webkit-transition: opacity .3s ease;
			-moz-transition: opacity .3s ease;
			-o-transition: opacity .3s ease;
			transition: opacity .3s ease;

				&:hover {
				opacity: 1;
				}
			}

			a:hover {
				.thumbnail {
				opacity: 1;
				}
			}

		} /* end #content */
	} /* end #container */
} /* end #main */











// is this stuff necessary? removing it is preferable to display: none;
.episodes .published, 
.clip .published,
.episodes .meta-sep-edit,
.clip .meta-sep-edit {
display: none;
}












/*****************************
SIDEBARS & ASIDES & WIDGETS
******************************/

.main-aside { width: 230px;border:1px solid #ccc;padding:18px 0 0;}
#primary {border: none;margin-bottom: 0;}

#s {
color:#999;
font-family: arial, helvetica, sans-serif;
width: 180px;
}


// from bones

.sidebar {}

	.widgettitle {display: none;}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				ul {}

			}

		}

	}


/*******************
FOOTER STYLES 
********************/

#footer {
margin-top: 20px;

	// copyright info
	#siteinfo {
	font: 11px $sans-serif;
	}

	.aside {
		ul { list-style-type: none; }
	}

	// Footer sitemap links
	#first {

		a {
			&:active,
			&:link,
			&:visited,
			&:hover {
			color: #5b6d7b;
			text-decoration: none;
			}
		}

		ul {

			li {
			margin: -10px 0px 10px 0px;
				
				ul {
				width: 100%;

					li {
					float: left; display: inline; width: 25%;
					}
				}
			}
		}
	} /* end #first */

	// Social links and search (widgets)
	#third {

		ul {

			li {
			float: right; display: inline;
			
				ul {
				width: 100%;
				
					li {
					float: left; display: inline; width: 33.3%
					}
				}
			}
		}
	} /* end #third */

	#customizable-search {
		#searchbox {
		float: right;
		margin: 14px -10px 0px 0px;
		font-family: arial, helvetica, sans-serif;
		}

		#searchbutton {
		margin: 4px -10px 0px 200px;
		}
	} /* end #customizable-search */
} /* end #footer */
