/*************
** THEMATIC **
**************/

@import "thematic/thematic";

/***********
** MIXINS **
************/

@import "mixins";

/***********
** MIXINS **
************/

@import "bootstrap/bootstrap";

/****************
** GRID SYSTEM **
*****************/

@import "grid";

/*********************
GENERAL STYLES
*********************/

@import "general";

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

	/*
	========================
	==HOME PAGE
	========================
	*/

	@import "home";

	/*
	========================
	==SHOWS PAGE
	========================
	*/

	@import "shows-page";

	/*
	========================
	==SCHEDULE PAGE
	========================
	*/

	@import "schedule-page";

	/*********************
	SHOW, CLIP, AND EPISODE PAGES
	**********************/

	@import "shows-episodes-clips";

	/*
	========================
	==FAST FACTS
	========================
	*/

	.slug-fast-facts-on-tutv {
		table.facts {
		margin: 0;
		padding: 0;
		border: none;
		}

		tr.facts {
		margin: 0;
		padding: 0;
		border: none;
		}
	} /* end .slug-fast-facts-on-tutv */




	/*
	========================
	==STAFF PAGE
	========================
	*/

	table.staff {
	padding: 0px;
	margin-bottom: 32px;
	border: 0px solid #ccc;
	font-size: 13.5px;
	font-family: arial, helvetica, sans-serif;
	table-layout: fixed;

		tr {
		border: 0px;
		padding: 0px;
		margin: 0px;

			td {
			vertical-align: top;
			border: 0px;
			padding: 4px 8px 8px 8px;
			margin: 0px;

				&#section {
				margin-bottom: 4px 0px 0px 0px;
				}

				&#title {
				width: 250px;
				}

				&#name {
				width: 160px;
				}

				&#status {
				font-style: italic;
				color: #aaa;
				width: 100px;
				}
			} /* end td */
		} /* end tr */
	} /* end table.staff */





	/*
	========================
	==BLOG
	========================
	*/

	.blog {

		.hentry {
		float: left;

			img {
				&.wp-post-image {
				display: block;
				padding-bottom: 22px;
				float: left;
				}
			}
		}
	} /* END .blog */




	/*
	========================
	==SINGLE POST PAGE
	========================
	*/

	.single {

		.show-notes {
			.meta-prep-author,
			.entry-meta .author,
			.entry-meta .author a,
			.entry-meta abbr, 
			.meta-sep-entry-date {
			display: inline;
			font-size: inherit;
			text-transform: none;
			}
		}

		.post {
			.meta-prep-author,
			.entry-meta .author,
			.entry-meta .author a,
			.entry-meta abbr, 
			.meta-sep-entry-date {
			display: inline;
			font-size: inherit;
			text-transform: none;
			}

			.entry-meta {
			display: none;
			}
		} /* end .post */
	} /* END .single */                        /* single post page */




	/*
	========================
	==PAGE
	========================
	*/

	.page {

		#page-list {
		list-style: none;
		margin-left: 0;

			h1 {
			font-size: 18px;
			padding-bottom: 18px;

				a {
				color: #000;
				text-decoration: none;
				}
			}

			.wp-post-image {
			float: left;
			margin-right: 10px;
			}
		} /* end #page-list */

		#subpage-menu {
		margin: -20px 0px 20px;
		width: 940px;
		height: 24px;

			li {
			display:inline;
			list-style: none;
			padding-right: 5px;
			margin-right: 5px;
			float: left;
			}

			a {
			color: #666;
			float: left;
			font-size: 18px;
			line-height: 24px;
			text-shadow: #fff 1px 1px;

				&:hover {
				color: #000;

				}
			}

			// .children is contained within '#subpage-menu li' in the one place i can find it, on the submissions page. not sure if this is the best way to organize this menu. - montchr
			.children {
			float:left;
			margin: 0;
			border-left: 1px solid #666;
			margin-left: 5px;
			padding-left: 5px;

				li {
				border-right: 1px solid #aaa;
				}

				a {
				color: #888;
				}

				.current_page_item {
					> a {
					border-bottom: 1px dotted #888;
					}
				}
			} /* end .children */
		} /* end #subpage-menu */
	} /* end .page */



/*************
 * OVERRIDES *
 *************/

@import "overrides";
