/* STICKY FOOTER HACK */
/* http://ryanfait.com/sticky-footer/layout.css */

html, body, #wrapper {
	height: 100%;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
}

#main {overflow:auto;
	padding-bottom: 142px;}  /* must be same height as the footer */

#footer {
	position: relative;
	margin-top: -142px; /* negative value of footer height */
	height: 142px;
	clear:both;
}