




/*

Theme Styles

*/



/* COME BACK TO THIS STUFF WHEN DEALING WITH COLORS!

.entry-title a, .entry-title, .page-title, 
.page-title a {
text-shadow:1px 1px #FFFFFF;
}

#blog-title a:active, #blog-title a:hover, .sf-menu ul a:hover,  .page-link a:active, .page-link a:hover, .navigation a:active, .navigation a:hover, #comments-list .comment-meta a:active, #comments-list .comment-meta a:hover, .comment-reply-link a:active, .comment-navigation a:active  {
color:#0088cc;				
text-decoration: none;
}



.aside .current_page_item a, .aside .current_page_item .page_item a:hover, .aside .current_page_item .page_item a:active, .aside a:active, .aside a:hover, #siteinfo a:active, #siteinfo a:hover {
color: #787779;
}

.page-title a:active, .page-title a:hover, .entry-title a:active, .entry-title a:hover, .comment-reply-link a:hover, .comment-navigation a:hover, .entry-meta a:active, .entry-meta a:hover, .entry-utility a:active, .entry-utility a:hover {
color: #787779;
text-decoration: none;
}

*/

.taxonomy-page-item {
float: left;
clear: both;
padding: 0;
}

.taxonomy-page-item .entry-title {
clear: none;
padding-top: 0;
}

.taxonomy-page-item.genre-item .thumbnail {
display: none; /* hide thumbnail for genre taxonomy page */
}


/* Shows Page */

#content.shows-page .hentry {
width: 140px;
margin: 20px 0;
margin-right: 180px;
float: left;
clear: none;
position: relative;
overflow: visible;
}

#content.shows-page .entry-content {
padding: 0;
}

#content.shows-page .hentry:nth-child(3n+3) {
margin-right: 160px;
}

#content.shows-page .hentry .entry-title {
font-size: 14px;
line-height: 14px; /* 06-06-2011 PWinnick */
}

#content.shows-page .hentry:hover .description {
/* opacity: 1; */
}

#content.shows-page .description .entry-title {
font-size: inherit;
}

#content.shows-page .description {
opacity: 0;
position: absolute;
display: none;
z-index: 5;
padding: 10px;
width: 300px;
min-height: 110px;
background: #fff;
-webkit-border-radius: 4px;
   -moz-border-radius: 4px;
        border-radius: 4px;
-webkit-box-shadow: #E6E6E6 5px 5px 5px;
   -moz-box-shadow: #E6E6E6 5px 5px 5px;
        box-shadow: #E6E6E6 5px 5px 5px;
-webkit-transition: .6s opacity ease;
   -moz-transition: .6s opacity ease;
     -o-transition: .6s opacity ease;
        transition: .6s opacity ease;
}

#content.shows-page .description.visible {
visibility: visible;
opacity: 1;
-webkit-transition: .6s opacity ease;
   -moz-transition: .6s opacity ease;
     -o-transition: .6s opacity ease;
        transition: .6s opacity ease;
}

#content.shows-page .thumbnail {
-webkit-transition: .6s  opacity ease;
margin-bottom: 0;
}

#content.shows-page .thumbnail a {
display: block;
width: 100%;
height: 100%;
}

#content.shows-page .hentry:hover .thumbnail {
position: relative;
z-index: 7;
opacity: 1;
}


/* Shows Page Grid */

#content.shows-page-grid .hentry {
width: 160px; /* 150px original 06-08-2011 Pwinnick */
margin: 20px 11px; /* margin: 20px 11px; original 06-08-2011 Pwinnick */
padding: 8px; /* 8px original 06-08-2011 Pwinnick */
-webkit-border-radius: 4px;
   -moz-border-radius: 4px;
        border-radius: 4px;
-webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 7px;
   -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 7px;
        box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 7px;
}

#content.shows-page-grid .hentry.col2 {
width: 347px; /* 337px original 06-08-2011 Pwinnick */
}

#content.shows-page-grid .hentry.col3 {
width: 544px; /* 534px original 06-08-2011 Pwinnick */
}

#filtering-nav {

}

#filtering-nav h2 {
font-family: arial, helvetica, sans-serif;
font-weight: bold;
margin-left: 6px;
}

#filtering-nav ul {
list-style: none;
margin: 0 0 10px 0;
}

#filtering-nav li{
list-style: none;
display: inline;
}

#filtering-nav a {
color: #333;
padding: 3px;
margin: 0 12px 0 3px;
-webkit-border-radius: 4px;
   -moz-border-radius: 4px;
        border-radius: 4px;
}

#filtering-nav a:hover {
-webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 7px;
   -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 7px;
        box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 7px;
}

#filtering-nav a.active, 
#filtering-nav a.all {
border: 1px dotted #ccc;
}

/* production type border colors */
.type-tutv-original {
}

.type-university-events {
}

.type-syndicated {
}

#content.shows-page-grid .hentry {
float: left;
clear: none;
}

#content.shows-page-grid .hentry .entry-title {
font-size: 18px; /*originially 22px. Updated 05/26/2011 PWinnick*/
line-height: 26px;
margin-bottom: 11px;
}

#content.shows-page-grid .entry-title a {
color: #333;
}

#content.shows-page-grid .entry-title a:hover {
color: #999;
}

#content.shows-page-grid .entry-content {
padding: 0 0 10px;
}

#content.shows-page-grid .description {
display: inline;
font-size: 14px;
}

/* genre box colors */
.genre-documentary {background: #F9EFE2;}
.genre-interviews {background: #E9E4D3;}
.genre-news {background: #E3E4E3;}
.genre-sports {background: #F0955F;}
.genre-educational {background: #FDF3DE;}
.genre-entertainment {background: #DCE9EA;}
.genre-music {background: #99CC99;}
.genre-fitness {background: #CC9999;}

#content.shows-page-grid .genre-specials {
background: #018DBB;
color: #fff;
}


/* Show and Episode Page */

.has-taxonomy-show #main {
padding: 0 10px;
width: 960px;
}

.has-taxonomy-show #content {
width: 960px;
}

.has-taxonomy-show .navigation,
.has-taxonomy-show .hentry {
margin: 0 10px;
}

.has-taxonomy-show.single #content .hentry {
margin: 0 20px 0 10px;
float: left;
width: 600px;
}

.has-taxonomy-show.single .entry-title {
padding-bottom: 0;
font-weight: bold;
font-size: 28px; /* 32px orginal 06-06-2011 PWinnick */
line-height: 38px;
}

.wf-active .has-taxonomy-show.single .entry-title {
font-size: 28px; /* 36px orginal 06-06-2011 PWinnick */
line-height: 42px;
}

.has-taxonomy-show #content {
padding-top: 5px;
}

.has-taxonomy-show #nav-below {
display: none;
}

.video-sidebar {
float: right;
width: 320px;
margin-left: -10px;
margin-top: 64px;
background: #f3f3f3;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;

}
.video-sidebar > div {
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
}

.video-sidebar h3 {
padding-bottom: 5px;
margin-bottom: 5px;
border-bottom: 1px dotted #999;
color: #555;
-moz-text-shadow: -1px 1px #fff;
text-shadow: -1px 1px #fff;
}

.upcoming-showtimes ul{
margin-left: 0;
}

.upcoming-showtimes li {
list-style: none;
}

.upcoming-showtimes .scheduled-date {
display: block;
font-weight: bold;
}

.upcoming-showtimes .scheduled-time {
display: block;
}

.video-block {
margin-bottom: 10px;
float: left;
}

.thumbnail {
background: #d7d7d7 url(images/thumbnail-placeholder.png);
height: 100px;
width: 140px;
opacity: .85;
-webkit-transition: opacity .3s ease;
-moz-transition: opacity .3s ease;
-o-transition: opacity .3s ease;
transition: opacity .3s ease;
}

.thumbnail:hover,
a:hover .thumbnail {
opacity: 1;
}

.entry-content .thumbnail {
margin-bottom: 6px; /* 14px original 07-26-2011 Pwinnick */
} 
/* This is where you will want to display desription text. */

.entry-content:hover .thumbnail {
opacity: 1;
}

#show-header {
margin-bottom: 10px;
float: left;
background: #fff url(images/show-page-shadow.png) no-repeat bottom center;
background-color: rgba(255,255,255,.8);
padding: 10px;
margin:0;
width: 940px;
min-height: 106px;
position: relative;
}

#show-name {
font-size: 32px;
font-weight: 300;
line-height: 32px;
margin-bottom: 10px;
margin-right: 20px;
font-family: arial, helvetica, sans-serif;
float: left;
}

.wf-active #show-name {
font-size: 36px;
}

#show-name a {
color: #666;
}

#show-name a:hover {
color: #B20637;
}

#show-header .thumbnail {

}

#show-description {
float: left;
margin-bottom: 22px;
width: 860px;
font-family: arial, helvetica, sans-serif;
color: #666;
font-size: 14px;
}

.wf-active #show-description {
font-size: 16px;
}

#show-header .menu-container {
font: normal normal 300 16px/normal arial, helvetica, sans-serif;
border-bottom: none;
float: left;
margin-bottom: 10px;
}

.wf-active #show-header .menu-container{
font-size: 18px;
}

#show-header .menu-container a {
color: #000;
}

#show-header .sf-menu > li > a,
#show-header .sf-menu > li > a:visited {
border: none;
border-bottom: 1px dotted #ccc;
padding:0;
margin-right: 20px;
margin-top: 9px;
}

#show-header .sf-menu > li > a:hover {
border-bottom: 1px solid #000;
}

#show-header .sf-menu .sub-menu {
background: #efefef;
width: 10em;
max-width: 10em;
}

#show-header .sf-menu .sub-menu .sub-menu {
left: 10em !important;
}

#show-header .sf-menu .sub-menu li a {
border-top: none;
}

.section-header {
font-family: arial, helvetica, sans-serif;
font-size: 14px;
border-bottom: 1px solid #eee;
line-height: 24px;
padding-bottom: 5px;
margin-bottom: 10px;
color: #666;
}

.taxonomy-shows .entry-content {
padding-top: 10px;
}

.taxonomy-shows .entry-content p {
font-size: 14px;
color: #444;
}
.wf-active .taxonomy-shows .entry-content p {
font-size: 15px; /* 15px orginial 06-06-2011 Pwinnick */
}

#show-episodes {
width:620px;
margin: 10px 10px 0;
float: left;
}

#show-episodes .hentry, 
.taxonomy-genre #content .hentry {
float: left;
width: 290px;
position: relative;
min-height: 210px;	/* orginal 122px Updated 08-18-2011 Pwinnick */
max-height: 210px; /* Added 07/26/2011 Pwinnick */
}

#show-episodes h2.entry-title,
#show-episodes .entry-meta,
#show-episodes .entry-content,
.taxonomy-genre h2.entry-title,
.taxonomy-genre .entry-meta,
.taxonomy-genre .entry-content {

}

#show-episodes h2.entry-title,
.taxonomy-genre  h2.entry-title {
font-size: 15px; /* 20px orginial 06-06-2011 Pwinnick */
font-weight: 500;
}

#show-episodes .entry-content,
.taxonomy-genre .entry-content {
padding-top: 0;
font-size: 13px;
}

#show-episodes .thumbnail,
.taxonomy-genre  .thumbnail {
top: 0;
left:0;
}

#show-notes,
.taxonomy-shows .upcoming-showtimes {
float:left;
width: 300px;
padding: 10px 10px 20px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
background: #fafafa;
margin-bottom: 20px;
}

#show-notes .hentry {
width: 300px;
margin: 0;
float: left;
}

#show-notes .entry-title {
font-size: 14px; /* 16px original 06-06-2011 Pwinnick */
}

#show-notes .entry-utility { 
display: none;
}

#show-clips {
float: left;
margin-top: 20px;
padding: 0 10px;
width: 940px;
background: #fdfdfd;
border-bottom: 1px solid #eee;
}

#show-clips h2.page-title {
margin-right: 10px;
margin-bottom: 15px;
border-bottom: none;
padding-top: 20px;
}

#show-clips h2.entry-title {
font-size: 14px; /* 18px original 06-06-2011 Pwinnick*/
line-height: 24px;
float: right;
width: 140px
}

#show-clips  .entry-content {
padding-top: 0;
}

#show-clips .entry-meta {
display: none;
}

#show-clips .clip {
float: left;
width: 300px;
margin-left: 0;
margin-right: 10px;
float: left;
}

#show-clips .clip:nth-child(n) {
margin-right: 20px;
}

#show-clips .clip:nth-child(3n+3) {
margin-right: 0;
}

#show-episodes .meta-prep-entry-date,
.clip .entry-utility {
display: none;
}

.shows_nav {
float: left;
width: 100%;
padding: 10px 0;
}

.shows_nav .nav-next {
float:left;
width: 50%;
text-align: left;
}

.shows_nav .nav-previous {
float: right;
width: 50%;
text-align: right;
}

.embed {
margin-bottom: 22px;
}


/* Show Slideshow */

#show-featured {
float:left;
width: 800px; /* 620px original 06-06-2011 Pwinnick*/
padding: 10px 0 0;
position: relative;
z-index: 0 !important;
margin:0 0 30px;
}

#show-featured .attachment-banner {
float: left;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
}

#show-featured li {
height: 330px;
position: relative;
margin-bottom: 20px;
padding-top: 40px;
}

#show-featured .description {
height:330px;
position: absolute;
left: 0px;
top: 0;
}

#show-featured .description blockquote {
margin: 0 1em;
}

#show-featured .description .more-link {
display: block;
}

#show-featured .description img,
#show-featured .wp-caption {
display: none;
}

#show-featured h2 {
line-height: 32px;
font-size: 28px;
font-family: arial, helvetica, sans-serif;
margin-bottom: 8px;
}

#show-featured h2 a{
color:#000;
text-decoration: none;
}

#show-featured p {
display: block;
height: 310px;
background: rgba(0,0,0,.3);
color: white;
width: 220px;
padding:10px 20px;
}

#show-navigation {
font-size:18px;
line-height:22px;
width: 620px;
float: left;
margin-bottom: 20px;
position: relative;
margin-left: 10px;
top: -70px;
z-index: 2;
}

#show-navigation .nav {
float:left;
width: 75px;
margin-right: 10px;
border: 5px solid #8fafc5;
cursor: pointer;
background: #eee;
-webkit-box-shadow: rgba(153, 153, 153, 1) -2px 1px 2px;
-moz-box-shadow: rgba(153, 153, 153, 1) -2px 1px 2px;
box-shadow: rgba(153, 153, 153, 1) -2px 1px 2px;
}

#show-navigation .nav:hover {
position: relative;
top: -10px;
-webkit-box-shadow: rgba(153, 153, 153, .5) -5px 11px 6px;
-moz-box-shadow: rgba(153, 153, 153, .5) -5px 11px 6px;
box-shadow: rgba(153, 153, 153, .5) -5px 11px 6px;
}

#show-navigation .nav.active {
position: relative;
top: -21px;
-webkit-box-shadow: rgba(153, 153, 153, .45) -7px 16px 8px;
-moz-box-shadow: rgba(153, 153, 153, .45) -7px 16px 8px;
box-shadow: rgba(153, 153, 153, .45) -7px 16px 8px;
}

#show-navigation .nav img {
opacity: .8;
}
#show-navigation .nav:hover img,
#show-navigation .nav.active img {
opacity: 1;
}

#show-navigation .item-1,
#show-navigation .item-5 {
-webkit-transform: rotate(.65deg); 
-moz-transform: rotate(.65deg);	
transform: rotate(.65deg);
margin-top: 3px;
}

#show-navigation .item-2,
#show-navigation .item-4 { 
-webkit-transform: rotate(-.5deg); 
-moz-transform: rotate(-.5deg);	
transform: rotate(-.5deg);
border-color: #b0d7f6;
}

#show-navigation .item-3 {
-webkit-transform: rotate(.75deg); 
-moz-transform: rotate(.75deg);	
transform: rotate(.75deg);
margin-top: -2px;
}

/* hide new features from homepage */
#front-block-1, #front-block-2, .shows-block {
display: none;
}

.share {
width: 100%;
float: left;
margin: 10px 0;
}

.share ul {
list-style: none;
margin:0;
}

.share img {
float: left;
margin-right: 5px;
}

.share li {
margin-right: 20px;
float: left;
font:16px/32px arial, helvetica, sans-serif;
}

.post-metadata {
background: #ffe;
padding: 10px;
clear:both;
margin: 0 0 10px;
-webkit-border-radius: 4px;
   -moz-border-radius: 4px;
        border-radius: 4px;
}

.post-metadata .section-header {
border-bottom: 1px dotted #999;
}

.post-metadata .post-meta-key {
font-weight: 600;
}

/*Updated 07-07-2011 PWinnick*/
#siteinfo {
font:11px arial, helvetica, sans-serif;
/* hide footer text until we can change it */
/*visibility: hidden;*/
}

.galleria-container {
background: transparent;
} /* galleria black flash fix */

/* iPad */
@media only screen and (min-device-width: 768px)
and (max-device-width: 1024px) {

	body {
	min-width: 1024px;
	}

}


/* Special Video Slideshow  */

#video-slideshow {
float: left;
}

#video-slideshow iframe {
width: 540px;
height: 320px;
}

#video-slideshow ul {
list-style: none;
margin: 0;
}

#video-slideshow li {
list-style: none;
float: left;
width: 115px;
margin-right: 20px;
height: 146px;
}

#video-slideshow-nav img {
float:left;
width: 75px;
height: 50px;
margin-left: 10px;
border: 5px solid #8fafc5;
cursor: pointer;
background: #eee;
-webkit-box-shadow: rgba(153, 153, 153, 1) -2px 1px 2px;
-moz-box-shadow: rgba(153, 153, 153, 1) -2px 1px 2px;
box-shadow: rgba(153, 153, 153, 1) -2px 1px 2px;
-webkit-transition: top .3s linear .2s, -webkit-box-shadow .3s linear;
-moz-transition: top .3s linear .2s, -moz-box-shadow .3s linear;
-o-transition: top .3s linear .2s, -o-box-shadow .3s linear;
transition: top .3s linear .2s, box-shadow .3s linear;
top:0;
position: relative;
}

#video-slideshow-nav img:hover {
position: relative;
-webkit-box-shadow: rgba(153, 153, 153, .5) -5px 11px 6px;
-moz-box-shadow: rgba(153, 153, 153, .5) -5px 11px 6px;
box-shadow: rgba(153, 153, 153, .5) -5px 11px 6px;
-webkit-transform: rotate(0deg) scale(1.05) translate(0,-5px);
-moz-transform: rotate(0deg) scale(1.05) translate(0,-5px);	
transform: rotate(0deg) scale(1.05) translate(0,-5px); 
}

#video-slideshow-nav li.active img {
top: -5px;
-webkit-box-shadow: rgba(153, 153, 153, .45) -7px 16px 8px;
-moz-box-shadow: rgba(153, 153, 153, .45) -7px 16px 8px;
box-shadow: rgba(153, 153, 153, .45) -7px 16px 8px;
-webkit-transform: rotate(0deg) scale(1.05) translate(0,-5px);
-moz-transform: rotate(0deg) scale(1.05) translate(0,-5px);	
transform: rotate(0deg) scale(1.05) translate(0,-5px); 
-webkit-transition: top .3s ease-in, -webkit-box-shadow .3s linear;
-moz-transition: top .3s ease-in, -moz-box-shadow .3s linear;
-o-transition: top .3s ease-in, -o-box-shadow .3s linear;
transition: top .3s ease-in, box-shadow .3s linear;
}

/* flash embed placeholder and object */
#live-stream {
text-align: center;
width: 600px;
height: 440; /* 338px (16:9) or 450px (4:3), 654x480 square pixel center cut equivalent of 720x480 => 440px ( Updated 07-27-2011 Pwinnick */
}

/* if flash is not supported */
div#live-stream {
border: 3px dashed #ccc;
background: #fafafa;
width: 520px;
height: 240px;
padding: 80px 40px;
font-size: 16px;
border-radius: 4px;
}


/* Speical Classes  */

.top-space {
height: 24px;
}

table.facts {
margin: 0;
padding: 0;
border: none;
}

tr.facts {
margin: 0;
padding: 0;
border: none;
}

/* Removes the "This entry was posted in <tag>. Bookmark the <permalink>. Both comments and trackbacks are currently closed" addition on posts. PWinnick */
.post .entry-utility, .post .entry-meta {
display:none;
}

.entry-utility {
display:none;
}

/* Class for Schedule Section Header Link on Front Page. PWinnick*/
a.header {
color: #fff;
/*color: #5b6d7b;*/
margin-left: 8px;
}

/* Hide unnecessary Widget titles */
.widgettitle {
display:none;
}


/* TUTV Online Text */

.tutv-online {
margin-top: -6px;
}

.tutv-online-text {
font-size: 13px;
margin: 0px 8px 0px 18px;
color: #5b6d7b;
}


/* Search Menu Navigation Added 06-15-2011 Pwinnick */

#searchbox {
float: right;
margin: 14px -10px 0px 0px;
font-family: arial, helvetica, sans-serif;
}

#searchbutton {
margin: 4px -10px 0px 200px;
}

/* Added 08-26-2011 Pwinnick */
#tualert {
width: 960px;
margin: auto;
}

#tualert-text {
float: right;
position: relative;
font-size: 14px;
font-family: arial, helvetica, sans-serif;
font-weight: bold;
background-color: yellow;
padding: 4px;
z-index: 1000;
}

#tualert-text a {
color: red;
}


/* Staff Table Added 08-31-2011 PWinnick */

table.staff {
padding: 0px;
margin-bottom: 32px;
border: 0px solid #ccc;
font-size: 13.5px;
font-family: arial, helvetica, sans-serif;
table-layout: fixed;
/*background: url('images/staff-menu.png') #fcfcfc repeat-x top;
-webkit-border-radius: 4px;
   -moz-border-radius: 4px;
        border-radius: 4px;
-webkit-box-shadow: rgba(0, 0, 0, 0.2) 3px 7px 7px;
   -moz-box-shadow: rgba(0, 0, 0, 0.2) 3px 7px 7px;
        box-shadow: rgba(0, 0, 0, 0.2) 3px 7px 7px;*/
}

table.staff tr {
border: 0px;
padding: 0px;
margin: 0px;
}

table.staff tr#section-title {
/*font-size: 14px;*/
font-family: arial, helvetica, sans-serif;
font-weight: bold;
/*color: #565656;*/
}

table.staff tr td {
vertical-align: top;
border: 0px;
padding: 4px 8px 8px 8px;
margin: 0px;
}

table.staff tr td#section {
margin-bottom: 4px 0px 0px 0px;
}

table.staff tr td#title {
/*text-align: right;*/
width: 250px; /* original 180px; Updated 09-07-2011 PWinnick */
}

table.staff tr td#name {
width: 160px; /* original 140px; Updated 09-07-2011 PWinnick */
}

table.staff tr td#status {
font-family: arial, helvetica, sans-serif;
font-style: italic;
color: #aaa;
width: 100px;
}
