




/*

Theme Styles

*/



/* COME BACK TO THIS STUFF WHEN DEALING WITH COLORS!

.entry-title a, .entry-title, .page-title, 
.page-title a {
text-shadow:1px 1px #FFFFFF;
}

#blog-title a:active, #blog-title a:hover, .sf-menu ul a:hover,  .page-link a:active, .page-link a:hover, .navigation a:active, .navigation a:hover, #comments-list .comment-meta a:active, #comments-list .comment-meta a:hover, .comment-reply-link a:active, .comment-navigation a:active  {
color:#0088cc;				
text-decoration: none;
}



.aside .current_page_item a, .aside .current_page_item .page_item a:hover, .aside .current_page_item .page_item a:active, .aside a:active, .aside a:hover, #siteinfo a:active, #siteinfo a:hover {
color: #787779;
}

.page-title a:active, .page-title a:hover, .entry-title a:active, .entry-title a:hover, .comment-reply-link a:hover, .comment-navigation a:hover, .entry-meta a:active, .entry-meta a:hover, .entry-utility a:active, .entry-utility a:hover {
color: #787779;
text-decoration: none;
}

*/



/*

no video slideshow?

.galleria-container {
background: transparent;
} /* galleria black flash fix

#video-slideshow {
float: left;
}

#video-slideshow iframe {
width: 540px;
height: 320px;
}

#video-slideshow ul {
list-style: none;
margin: 0;
}

#video-slideshow li {
list-style: none;
float: left;
width: 115px;
margin-right: 20px;
height: 146px;
}

#video-slideshow-nav img {
float:left;
width: 75px;
height: 50px;
margin-left: 10px;
border: 5px solid #8fafc5;
cursor: pointer;
background: #eee;
-webkit-box-shadow: rgba(153, 153, 153, 1) -2px 1px 2px;
-moz-box-shadow: rgba(153, 153, 153, 1) -2px 1px 2px;
box-shadow: rgba(153, 153, 153, 1) -2px 1px 2px;
-webkit-transition: top .3s linear .2s, -webkit-box-shadow .3s linear;
-moz-transition: top .3s linear .2s, -moz-box-shadow .3s linear;
-o-transition: top .3s linear .2s, -o-box-shadow .3s linear;
transition: top .3s linear .2s, box-shadow .3s linear;
top:0;
position: relative;
}

#video-slideshow-nav img:hover {
position: relative;
-webkit-box-shadow: rgba(153, 153, 153, .5) -5px 11px 6px;
-moz-box-shadow: rgba(153, 153, 153, .5) -5px 11px 6px;
box-shadow: rgba(153, 153, 153, .5) -5px 11px 6px;
-webkit-transform: rotate(0deg) scale(1.05) translate(0,-5px);
-moz-transform: rotate(0deg) scale(1.05) translate(0,-5px);	
transform: rotate(0deg) scale(1.05) translate(0,-5px); 
}

#video-slideshow-nav li.active img {
top: -5px;
-webkit-box-shadow: rgba(153, 153, 153, .45) -7px 16px 8px;
-moz-box-shadow: rgba(153, 153, 153, .45) -7px 16px 8px;
box-shadow: rgba(153, 153, 153, .45) -7px 16px 8px;
-webkit-transform: rotate(0deg) scale(1.05) translate(0,-5px);
-moz-transform: rotate(0deg) scale(1.05) translate(0,-5px);	
transform: rotate(0deg) scale(1.05) translate(0,-5px); 
-webkit-transition: top .3s ease-in, -webkit-box-shadow .3s linear;
-moz-transition: top .3s ease-in, -moz-box-shadow .3s linear;
-o-transition: top .3s ease-in, -o-box-shadow .3s linear;
transition: top .3s ease-in, box-shadow .3s linear;
}
*/

/* flash embed placeholder and object */
#live-stream {
text-align: center;
width: 600px;
height: 440; /* 338px (16:9) or 450px (4:3), 654x480 square pixel center cut equivalent of 720x480 => 440px ( Updated 07-27-2011 Pwinnick */
}

/* if flash is not supported */
div#live-stream {
border: 3px dashed #ccc;
background: #fafafa;
width: 520px;
height: 240px;
padding: 80px 40px;
font-size: 16px;
border-radius: 4px;
}



/* Search Menu Navigation Added 06-15-2011 Pwinnick */




/* Staff Table Added 08-31-2011 PWinnick */

